
<p>&nbsp;</p>
<a onclick="electronOpenLinkInBrowser.bind(this, 'mailto:asanaelectron@recurship.com')(event)" class="btn btn-block btn-success">Contact the developer</a>
<p>&nbsp;</p>
<div class="panel-group" id="help-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseOneHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What does this app do?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseOneHeading">
      <div class="panel-body">
         This is a non-offical chrome app for Asana using their API. The core aim of this app is to allow the user fast and easy access to their tasks, and allow them to update its status, comment or attach files straight from desktop. It also syns stuff offline, so you can view your tasks with or without an internet connection. Finally it also as an auto-refresh built in, notifying you of changed tasks in the project / workspace you are currently active. We currently do not support editing tasks, deleting them or adding new ones and several other features. If you are interested in any of those features please check out 'There is a feature missing section'.
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseTwoHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          I cant understand how this works
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwoHeading">
      <div class="panel-body">
         The app has two main views - the task view and the settings view. You can switch to either of them using the tabs on top. The task view shows the current tasks in the currently selected project. You also have the option to see the tasks assigned to you (in a workspace) using the first option. Once you have selected your preferred project, you can set your view according to your liking - you can filter according to the completion status, assigned status or the person assigned (only if you are not using the workspace scope). If you have any further questions - please do not hesitate to contact us using the button on top.
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseThreeHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          There is a feature missing
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseThreeHeading">
      <div class="panel-body">
         The app was designed according to the interal requirements of the workflow at Recurship, thus it currently has a very basic subset of the features which were needed. However this app is under constant improvement, so if we get enough requests for a feature that we dont require, we are more than happy to implement it. So send in your requests! Use the button on top to get in touch with us.

         Currently the following set of features is missing:
        <ul>
          <li>Add tasks</li>
          <li>Edit tasks (except for completion status)</li>
          <li>Delete tasks</li>
          <li>Reorder tasks</li>
          <li>Move tasks between projects and workspaces</li>
          <li>Heart tasks</li>
          <li>Add followers to a task</li>
          <li>Keyboard shortcuts</li>
          <li>Tags</li>
          <li>Tagging users in comments</li>
          <li>Search</li>
          <li>Drag and drop to attach files</li>
          <li>Advanced filtering</li>
          <li>Autorefresh subtasks</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseFourHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Something is broken
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFourHeading">
      <div class="panel-body">
        We have push it through several rounds of testing, however, no software is perfect. If you notice a bug, or there is something in the design or application level bugging you - just hit the button on top to let us know. We would love to help you out!
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseFiveHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          What is the best way to setup this app
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFiveHeading">
      <div class="panel-body">
         We have been using Asana for a while now and have designed this app to fit our workflow. This may or may not be similar to how you use Asana.
          <br /><br />
          Currently use user has tasks assigned to them over several projects. They use the 'All (assigned to me)' option to see all the tasks assigned to them at the moment. Most of use filter by tasks to do, and some of us use the Assignee status 'Today' to just see the really important tasks. Over the day if any of these tasks is updated, we get a notification. If we want to comment, or attach a file - it can be done using this as well. If you want to access the subtasks, we can simply click on the subtasks button in the detail view to dive into the subtasks list. Going back is as simple as clicking the back arrow on the top left.
          <br /><br />
          Normally we keep the window open and in view in a corner of one of our monitors. However we can use the shortcut key cmd + shift + 5 to toggle the window really fast. The window is designed to stay on top of all applications so you can see your tasks at all times. This can be changed in the settings. You can also resize the window to just see one task so it takes minimal space.
      </div>
    </div>
  </div>

   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="collapseSixHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#help-accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          Disclaimer
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseSixHeading">
      <div class="panel-body">
         Asana, its name and logo, belong to Asana.com and are in no way associated with Recurship. Data is fetched directly from Asana, and sent directly to them (via their API). It is cached locally on your computer for offline access.
      </div>
    </div>
  </div>
</div>
