<div class="checkbox" ng-class="{ 'task-heading': isHeading(item.name) }" ng-click="$parent.showDetails(item.id)">

	<input type="checkbox" name="task" value="{{item.id}}" ng-model="item.completed"  ng-change="asana.toggleTaskComplete(item.id, item.completed)" ng-show="!isHeading(item.name)"/>&nbsp;

	<span class="task-text"><span class="assignee" title="{{ item.assignee.name }}">{{ item.assignee.name | initials }}</span>&nbsp; <span title="{{item.name}}">{{item.name}}</span>&nbsp;</span>

	<small ng-show="item.due_on" ng-class="{ 'deadline': hasDeadlinePassed(item.due_on, item.due_at), 'upcoming': isDeadlineUpcoming(item.due_on, item.due_at) }">
		<span ng-if="item.due_at">{{item.due_at | date:'dd MMM h:mm a'}}</span>
		<span ng-if="!item.due_at">{{item.due_on | date:'dd MMM'}}</span>
	</small>

	<a class="pull-right" ng-show="!isHeading(item.name)"><i class="glyphicon" ng-class="{ 'glyphicon-chevron-right': !item.showDetails, 'glyphicon-chevron-down': item.showDetails}"></i></a>

</div>
<div class="details" ng-show="item.showDetails">

	<p class="item-notes text-selectable" ng-show="item.notes != ''" ng-bind-html="item.notes | newLines"></p>

	<ul class="stories">
		<li ng-show="item.stories.length > storyLimit"><a ng-click="storyLimit = item.stories.length">Show all stories</a></li>
		<li ng-repeat="story in item.stories" class="{{story.type}} story" ng-show="(item.stories.length - $index) <= storyLimit">
			<span class="story-author">{{ story.created_by.name }}:</span> <span class="story-text text-selectable" ng-bind-html="story.text | attachment | newLines"></span> <small>{{ story.created_at | date:'dd MMM'}}</small>
		</li>
	</ul>

	<div class="btn-group btn-group-sm detail-toolbar" role="group" aria-label="">
	  	<button type="button" class="btn click" ng-if="item.subtasks.length > 0" ng-click="expandTasks(item.id)" data-tooltip="{{ item.subtasks.length + ' subtask(s)' }}">
	  		<span class="glyphicon glyphicon-tasks"></span>
	  	</button>
	 	<button type="button" class="btn" data-tooltip="{{ item.num_hearts + ' heart(s)' }}" ng-if="item.hearted">
	 		<span class="glyphicon glyphicon-heart"></span>
	 	</button>
	  	<button type="button" class="btn" data-tooltip="{{'Followed by: ' | appendNames:item.followers }}">
	  		<span class="glyphicon glyphicon-user"></span>
	  	</button>
	  	<button type="button" class="btn" ng-if="item.tags.length > 0" data-tooltip="{{'Tags: ' | appendNames:item.tags }}">
	  		<span class="glyphicon glyphicon-tags"></span>
	  	</button>
	  	<button type="button" class="btn click" ng-click="selectFile(item.id)" data-tooltip="Upload file">
	  		<span class="glyphicon glyphicon-paperclip"></span>
	  	</button>
	  	<a onclick="electronOpenLinkInBrowser.bind(this)(event)" href="https://app.asana.com/0/{{workspace}}/{{item.id}}" class="btn click" title="Jump to task in Asana" data-tooltip="Open in Asana">
	  		<span class="glyphicon glyphicon-new-window"></span>
	  	</a>
	</div>

	<div class="input-group">
		<input type="text" id="comment{{item.id}}" class="form-control comment comments-field" placeholder="Write a comment..." ng-enter="addStory(item.id)" />
	  	<div class="input-group-btn">
	    	<button class="btn btn-sm btn-info" ng-click="addStory(item.id)"><i class="glyphicon glyphicon-send"></i></button>
	 	</div>
	</div>
	<form style="display:none;">
		<input type="file" id="file{{item.id}}" name="file" />
	</form>

</div>
