<style type="text/css">
    body {
        padding: 20px;
    }

    .btn {
        margin-top: 10px;
        text-transform: none;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 5px;
    }
</style>
<div style="text-align: center;margin-bottom: 20px;">
  <img src="images/asana-logo-full.png" width="90%" />
</div>
<input type="text" class="form-control" ng-model="apiKey" placeholder="Please enter your Asana Personal Access Token..." />
<button class="btn btn-block btn-success" ng-click="save()">Save</button>
<p><a onclick="electronOpenLinkInBrowser.bind(this, 'https://app.asana.com/-/account_api')(event)" title="">Create your new Personal Access Token here</a></p>
